body {
  background-color: yellow;
  background-image: url("../images/bg1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.main-container {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.858);
  border-radius: 10px;
  padding: 20px;
  
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;

}

.main-container h1,
.main-container p {
  font-family:Arial, Helvetica, sans-serif;
  color: darkblue
}